@import "tailwindcss";
@font-face {
  font-family: "BebasNeue";
  display: swap;
  src: url("../fonts/NibPro-Black.woff2");
}
@keyframes emoji {
  0% {
    transform: translateX(-720px) rotate(0);
  }
  60% {
    transform: translateX(200px) rotate(700deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes tittle {
  100% {
    transform: translateY(0px);
  }
}

@theme {
  --font-BebasNeue: "BebasNeue";
  --color-pink-light: #fbc1d4;
  --animate-tittle-1: tittle 1.5s forwards;
  --animate-tittle-2: emoji 2s forwards;
}
.animation-tittle {
  transform: translateY(200px);
  transition: all 1s ease-in-out;
}
CSS

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none;

  scrollbar-width: none;

  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
.emojiend {
  width: 1.5vw;
  height: 3vh;
  overflow: hidden;
  background: black;
  border-radius: 50%;
}
